    <%- include("./partials/header") %>
    
    <h1>Avions</h1>

    <% avions.forEach( (avion) => { %>
        <ul>
            <li> Modèle : <%= avion.modele %> </li>
            <li> Compagnie : <%= avion.compagnie %> </li>
            <li> Capacité : <%= avion.capacite %> </li>
        </ul>
        <div class="w-100 d-flex gap-2 justify-content-start">
        <form method="POST" action="/api/avions/<%= avion._id %>?_method=DELETE">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
        </form>
       <a href="/avion/<%= avion._id %>/update" class="btn btn-primary">Mettre à jour</a>
       </div>
        <hr>
    <% }) %>


</body>
</html>